{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    
    <h2>{{ artikal.name }}</h2>
    <p>Kategorija: {{ artikal.category }}</p>
    <p>Cena: {{ artikal.price }}</p>
    
{% endblock %}